*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #3f2b96, #a8c0ff);
}

#app{
    width: 100%;
    height: 100%;
}

#container{
    position: relative;
    max-width: 70%;
    min-height: 70%;
    background: rgba(217, 214, 228, 0.12);
    border-radius: 05px;
}

#app h1{
    color: white;
    letter-spacing: 15px;
    text-transform: uppercase;
    border-top-right-radius: 05px;
    border-top-left-radius: 05px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#app h3{
    margin: 20px 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#wrapper{
    margin: 10px 20px;
    padding: 10px;
    position: fixed;
    bottom: 170px;
}

button{
    font-size: 25px;
    background: wheat;
    padding: 20px;
    border: none;
    width: 100%;
}

#preQuestionBtn , #submitQuizBtn{
    display: none;
}

.result{
    flex-direction: column;
}
button:hover{
    background:  rgb(134, 198, 225);
    transition: 0.5s all;
    cursor: pointer;
    border: none;
}

label{
    position: relative;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px; 
    display: inline-block;
    min-width: 45%;
    min-height: 2em;
    background-color: white;
}

label:hover{
    background-color: rgba(116, 235, 213, 0.6);
    cursor: pointer;    
}

.option input{
    width: 22px;
    height: 22px;
    margin: 10px;
}

span{
    position: absolute;
    top: 10px;
}

@media screen and (max-device-width: 640px) {
    body{
        background-color: rgb(80, 125, 228);
    }
    #app{
        /* width: 100%; */
        /* height: 80vh; */
        /* margin-top:-65px; */
        /* background: none; */
    }
    
    .button{
        font-size: 20px;
        padding: 8px;
        background: rgb(192, 78, 78);
    }

    #app h3{
        font-size: 18px;
        background-color: rgb(202, 203, 203);
        min-width:90%;
        min-height: 25%;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0px 15px 10px rgb(141, 162, 200);
    }

    #app h1{
        background: none;
        color: white;
        font-size: 45px;
        margin-top: 25px;
        border: none;
    }
    .option{
        margin: 10px;
        border: 1px solid;
        min-width: 90%;
        height: auto;
        background-color: rgb(210, 203, 203);
        border-radius: 10px;
    }
    #wrapper{
        display: flex;
        width: 100%;
        position: absolute;
        bottom: -55px;
        left: 0;
        margin: 0;
        padding: 0;
    }
    #container{
        background-image: none;
        border: none;
        min-width:90%;
        height: 70%;
        margin-top: -20px;
    }
}
