*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;    
    align-items: center;
    overflow: scroll;
    width: 100vw;
    height: auto;
    background: linear-gradient(to left, #2609aa, #4b7af1);
}

#app{
    width: 100%;
    height: 100%;
}

.welcomeDiv{
    width: 100%;
    height: 100%;
}

.welcomeDiv h1{
    margin-bottom: 15%;
    justify-content: center;
}

#startQuizBtn,#createQuizBtn,#creaeQuestionBtn{
    min-width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}

#container{
    /* position: relative; */
    width: 70%;
    min-height: 70%;
    background: rgba(217, 214, 228, 0.12);
    border-radius: 05px;
    display: none;
}

.confirmAppDiv{
    display: flex;
    justify-content: center;align-items: center;
}

#formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.header{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 25px;
    /* align-items: center; */
    /* flex-direction: row; */
}

.subHeader h2{
    font-weight: 400;
    font-family: inherit;
    text-rendering: optimizelegibility;
    line-height: 1.3;
    color: #000;
    color: white;
    font-size: 3.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subHeader{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    min-height: 100%;
    text-align: center;
    margin-top: 50px;
}

#createQuestionBtn{
    background-image: linear-gradient(to right,#ff512f 65%,#dd2476 100%);
    /* background: linear-gradient(to left, #2609aa, #4b7af1); */
    transition: 5s;
}

#createQuestionBtn:hover{
    background-image: linear-gradient(to right,#dd2476 25%,#ff512f 100%);
}

.questionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #fff; */
    margin: 0 20rem;
    display: none;
    /* border: 1px solid; */
}

.startQuizbtn{
    background-color: rgb(51, 81, 163);
    color: white;
    font-size: 18px;
    width: auto;
    height: 35px;
    padding: 2px;
}

.quizList{
    font-size: 35px;
    color: white;
    display: inline-block;
    margin-left: 20px;
}

.questionDiv #formContainer{
    min-height: 200px;
}

.subHeader p{
    margin: 0 0 15px 0;
    font-size: 1.4em;
    color: #fff;
}

.header div{
    font-size: 30px;
    color: white;
}
.ques-form{
    width: 60%;
    background-color: #fff;
    border-color: gray;
}

.confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    font-size: 28px;
    /* border: 1px solid; */
}

#app h1{
    color: white;
    letter-spacing: 15px;
    text-transform: uppercase;
    border-top-right-radius: 05px;
    border-top-left-radius: 05px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#app h3{
    margin: 20px 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#wrapper{
    margin: 10px 20px;
    padding: 10px;
}

button{
    font-size: 25px;
    background: wheat;
    padding: 20px;
    border: none;
}

#preQuestionBtn , #submitQuizBtn{
    display: none;
}

.result{
    flex-direction: column;
}
button:hover{
    background:  rgb(134, 198, 225);
    transition: 0.5s all;
    cursor: pointer;
    border: none;
}

label{
    position: relative;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px; 
    display: inline-block;
    min-width: 45%;
    min-height: 2em;
    background-color: white;
}

label:hover{
    background-color: rgba(116, 235, 213, 0.6);
    cursor: pointer;    
}

.option input{
    width: 22px;
    height: 22px;
    margin: 10px;
}

/* span{
    position: absolute;
    top: 10px;
} */

@media screen and (max-device-width: 640px) {
    body{
        background-color: rgb(80, 125, 228);
    }
    #app{
        /* width: 100%; */
        /* height: 80vh; */
        /* margin-top:-65px; */
        /* background: none; */
    }
    
    .button{
        font-size: 20px;
        padding: 8px;
        background: rgb(192, 78, 78);
    }

    #app h3{
        font-size: 22px;
        background-color: rgb(202, 203, 203);
        min-width:90%;
        min-height: 25%;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0px 15px 10px rgb(141, 162, 200);
    }

    #app h1{
        background: none;
        color: white;
        font-size: 55px;
        margin-top: 25px;
        border: none;
    }
    .option{
        margin: 10px;
        border: 1px solid;
        min-width: 90%;
        height: auto;
        background-color: rgb(210, 203, 203);
        border-radius: 10px;
    }
    #wrapper{
        display: flex;
        width: 100%;
        position: absolute;
        bottom: -55px;
        left: 0;
        margin: 0;
        padding: 0;
    }
    #container{
        background-image: none;
        border: none;
        min-width:90%;
        height: 70%;
        margin-top: -20px;
    }
    .playAgain{
        width: 70%;
        padding: 5px;
        margin-top: 50px;
        border-radius: 10px;
    }
    button{
        width: 100%;
    }
}
